<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registro</title>
</head>
<body>
    <main class="register">
        <form action="/" method="POST">
            <div class="separacion">
            <input type="text" minlength="5" name="name" placeholder="Nombre y apellido">
            <br>
            <input type="text" minlength="5" name="user" placeholder="Nombre de usuario">
            <br>
            <input type="email" name="user" placeholder="E-mail">
            <br>
            <label for="birth_date"><b>Fecha de nacimiento</b></label>
            <br>
            <br>
            <input type="date" name="birth_date" id="birth_date">
            <br>
            <input type="text" name="addres" placeholder="Domicilio">
            </div>
            <h4>Perfil del usuario</h4>
            <div class="profile">
                <input type="radio" name="profile" value="buy" id="buy">
                <label for="buy">Comprador</label>
                <input type="radio" name="profile" value="sell" id="sell">
                <label for="sell">Vendedor</label>
            </div>

            <h4>Intereses</h4>
            <div class="interests">
                <div>
                    <input type="checkbox" name="interests" value="a" id="a">
                    <label for="a">Electro</label>
                </div>
                <br>
                <div>
                    <input type="checkbox" name="interests" value="b" id="b">
                    <label for="b">Moda</label>
                </div>
                <br>
                <div>
                    <input type="checkbox" name="interests" value="c" id="c">
                    <label for="c">Hogar</label>
                </div>
                <br>
                <div>
                    <input type="checkbox" name="interests" value="d" id="d">
                    <label for="d">Juguetería</label>
                </div>
                <br>
                <div>
                    <input type="checkbox" name="interests" value="e" id="e">
                    <label for="e">Vida Sana</label>
                </div>
            </div>
            
            <h4>Elegí tu foto de usuario</h4>
            <input type="file" name="avatar">
        <br>
        <br>
        <div class="pass">
            <input type="password" name="pass" placeholder="Elegí tu contraseña">
            <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
        </div><br>
            <a href="/" class="submit">Enviar</a>
            <input type="reset" value="Borrar">
        <br>
        </form>
    </main>
</body>
</html>