*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ebebeb;
}
header{
    background-color: rgb(234, 201, 38);
}
.logo{
    width: 200px;
    margin-left: 10px;
}
.compra-head{
    align-items: flex-end;
    margin-right: 2%;
}
.main-navbar ul {
    font-size: 15px;
    list-style: none;
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
    width: 75%;
    color: #000;
}
.imagen-header{
    height: 100%;
    width: 100%;
}
.buscador{
    margin: 10px;
    align-items: center;
}
.burger-menu{
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    width: 60px;
    height: 60px;
    color: #ebebeb;
    background: #03264C;
    border-radius: 20%;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
main{
    background-color: #ebebeb;
    margin: 0 auto;
}
.titulo-main{
    font-size: 24px;
    color: #666;
    margin-left: 4%;
}
div.offers{
    display: flex;
    flex-wrap: wrap;
}
.price{
    font-size: 18px;
    width: 30%;
}
.discount{
    width: 70%;
}
.discount, .description{
    font-size: 16px;
    font-weight: normal;
}
h3, .description{
    color: rgba(0, 0, 0, 0);
    transition-duration: 300ms;
}
h3, .description:hover{
    color: #666;
}
.description{
    display: none;
    margin-top: 20px;
}
.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}
main article{
    background-color: #fff;    
    margin: 10px 0px;
}
main article:hover{
    box-shadow: 1px 1px 3px 4px rgb(234, 201, 38);
}
main article img{
    width: 100%;
}
main article i, .discount{
    color: #39b54a;
}
main article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition-duration: 1000ms;
}
main article i:hover{
    transform: rotate(-90deg);
}
main h3{
    margin: 20px 0px;
}
article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer{
    background-color: #ffffff;
    width: 100%;
    border: solid 15px #fff;
    height: 20%;
}
.icono-footer{
    color: #1259c3;
    text-align: center;
    font-size: 2em;
    margin: 10px;
}
.titulos-footer{
    text-align: center;
}
.texto{
    font-size: 12px;
    text-align: center;
}


@media (min-width: 361px){
    .main-navbar{
        display: none;
    }
    .header-box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .header-box .logo{
        width: 50%;
     }
     .header-box .buscador{
        width: 45%;
        border-radius: 25%;
     }
    main article .description{
        display: none;
    }
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    main div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .price, .discount{
        width: 50%;
    }

}

@media (min-width: 769px){
    main div.products article{
        width: 47%;
        margin: 1% 1.5%;
    }
    main article .description{
        display: block;
    }
    .main-navbar{
        display: flex;
        justify-content: space-around;
    }
    .burger-menu{
        display: none;
    }
    .header-box{
        justify-content: space-between;
    }
    .header-box .logo{
        width: 20%;
    }
    .header-box .buscador{
        width: 25%;
     }
}

@media (min-width: 1279px){
    main div.products article{
        width: 22%;
    }
    main article .description{
        display: block;
    }
    footer{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        width: auto;
    }
}